<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joy.featuregoods">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.GoodsDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidArch">
        </activity>
    </application>

</manifest>